html, body {
	margin: 0;
	height: 100%;
}

.color-front{
	background-color: rgba(135,204,255,1);
}

.color-font{
	color: rgba(48,138,204,1);
}


.subtitle-size{
	font-size: 40px !important;
	letter-spacing: 2px;
}

.title-size{
	font-size: 60px !important;
	letter-spacing: 2px;
}

.online{
	padding: 5% 0 0;
}


/******************************************/
/* FOOTER AND CPPYRIGHT STYLE */
/******************************************/


.footer-cp{
	padding: 6% 0 2%;
}

/******************************************/
/* GHOST BUTTON */
/******************************************/

.ghost-button{
	background-color: rgba(255,255,255,0);
	border: 0.15em solid #308ACC;
	color: #308ACC;
	display: inline-block;
	letter-spacing: 2px;
	padding: 0.8em 1.3em;
	position: relative;
	text-decoration: none;

	/*CHANGE COLORS WHIT ANIMATION*/
	-webkit-transition: color 300ms, background 500ms, border-color 700ms;
    transition: color 300ms, background 500ms, border-color 700ms;
}

.ghost-button:hover {
	color: #fff;
    background: #308ACC;
    border-color: #308ACC;
    text-decoration: none;
}

/******************************************/
/* MAP DESIGN */
/******************************************/

#gmap{
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
}

#gmap-draw{
    width: 100%;
    height: 450px;
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
}

.main{
	background-image: url(../img/emisora.jpg);
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover
	-o-background-size:cover;
	background-size:cover;
	margin: auto;
}

/******************************************/
/* LOGO ANIMATED */
/******************************************/

.delay-logo{
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@media (max-width: 1549px) {
	.contact-style{
		background-color:#0B2E6F;
	}

	.logo{
		margin: 12% auto 0;
	}
}

@media (min-width: 1550px){
	.contact-style{
		background-color:#0B2E6F;
		padding: 7% 0 10%;
 	}

 	.online{
		padding: 15% 0 0;
	}

	.logo{
		margin: 12	% auto;
	}

}

